@import '../../styles/styles.scss';

.sorter {
  display: flex;
  justify-content: center;

  &__input {
    max-width: 320px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }


    @include mq(1599) {
      max-width: 280px;
    }

    @include mq(767) {
      max-width: 100px;
    }
  }
}
